@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.landing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}

.figure{
    margin-right: 50px;
}

.figure img{
    height: 90vh;
    width: auto;
}



.text{
    min-height: 100vh;
    display: flex;
    font-style: normal;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat Alternates, sans-serif;
}

.text .navButtons{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 2px;
}

.navButton{
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
    border: none;
}

.navButton:hover{
    background-color: red;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.text h1{
    font-size: 110px;
    font-weight: 400;
}

.text h2{
    padding: 6px;
    font-size: 55px;
    font-weight: 400;
    color: rgb(0,0,0,0.57);
}