.card{
    width: 600px;
    height: 70vh;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 16px;
    box-shadow: -15px 14px 14px rgba(0, 0, 0, 0.1);
    margin: 16px;
    text-align: center;
    display: inline-block;
}